<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
  <body>
    <h1 class="greet">
      <%= greet %>
    </h1>
    <a href="/blogs">Go to Blog</a>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>